<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFdmY7_D3WTAwEvhdFTBiwyBydYt83SoE</string>
	<key>GCM_SENDER_ID</key>
	<string>757017785117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vente.iosapp</string>
	<key>PROJECT_ID</key>
	<string>vente-43d0b</string>
	<key>STORAGE_BUCKET</key>
	<string>vente-43d0b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757017785117:ios:35c147880bc3df325c27f4</string>
</dict>
</plist>